- app_type: service-deployment
  name: service-deployment
  title: Service Deployment
  install_type: workflow
  helm_path: charts/custom-deployment
  app_package_name: apolo_apps_service_deployment
  inputs:
    schema_path: .apolo/src/apolo_apps_service_deployment/schemas/ServiceDeploymentInputs.json
    types_name: ServiceDeploymentInputs
    processor: ServiceDeploymentInputsProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app
  outputs:
    schema_path: .apolo/src/apolo_apps_service_deployment/schemas/ServiceDeploymentOutputs.json
    types_name: ServiceDeploymentOutputs
    processor: ServiceDeploymentOutputsProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app
  short_description: Deploy scalable applications
  description: |
    Service Deployment lets you deploy any containerized application as a scalable,
    production-ready web service. Bring your own Docker image and
    configure resources, scaling, and networking with ease—no complex DevOps required.
  pub_date: "2025-01-01T00:00:00+00:00"
  changelog:
    file: ./CHANGELOG.md
  tags: ["Apolo"]
  urls:
    - name: Apolo Service Deployment documentation
      type: documentation
      url: https://docs.apolo.us/index/apolo-console/apps/available-apps

- app_type: mlflow
  name: mlflow-core
  title: MLFlow Core
  install_type: workflow
  helm_path: charts/custom-deployment
  app_package_name: apolo_apps_mlflow_core
  inputs:
    schema_path: .apolo/src/apolo_apps_mlflow_core/schemas/MLFlowAppInputs.json
    types_name: MLFlowAppInputs
    processor: MLFlowChartValueProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app
  outputs:
    schema_path: .apolo/src/apolo_apps_mlflow_core/schemas/MLFlowAppOutputs.json
    types_name: MLFlowAppOutputs
    processor: MLFlowOutputProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app
  short_description: Use MLFlow platform for managing the ML projects lifecycle.
  description: |
    MLflow Tracking is a component of MLflow that logs and queries experiments.
    It provides a simple API and UI for logging parameters, code versions, metrics,
    and artifacts when running your machine learning code, and for later visualizing
    the results.
  pub_date: "2025-04-15T00:00:00+00:00"
  logo: https://storage.googleapis.com/development-421920-assets/app-logos/mlflow-core.svg
  changelog:
    file: ./CHANGELOG.md
  tags: ["mlflow", "experiment tracking", "model registry"]
  urls:
    - name: MLFlow GitHub repository
      type: documentation
      url: https://github.com/mlflow/mlflow
    - name: MLFlow Official Docs
      type: documentation
      url: https://mlflow.org/docs/latest
  assets:
    - type: image
      url: https://storage.googleapis.com/development-421920-assets/app-logos/mlflow-banner.svg

- app_type: vscode
  name: "vscode"
  title: "Visual Studio Code"
  install_type: workflow
  helm_path: "charts/custom-deployment"
  app_package_name: apolo_apps_vscode
  inputs:
    schema_path: .apolo/src/apolo_apps_vscode/schemas/VSCodeAppInputs.json
    types_name: VSCodeAppInputs
    processor: VSCodeChartValueProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app
  outputs:
    schema_path: .apolo/src/apolo_apps_vscode/schemas/VSCodeAppOutputs.json
    types_name: VSCodeAppOutputs
    processor: VSCodeOutputProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app
  short_description: "Run your in-browser VS Code"
  description: |
      VS Code delivers a full-featured, in-browser version of Visual Studio Code,
      preinstalled with Python extensions and seamless MLflow integration.
      Write, debug, and track machine learning projects—all from a familiar and powerful
      development environment, right in your browser.
  pub_date: "2025-04-15T00:00:00+00:00"
  logo: "https://storage.googleapis.com/development-421920-assets/app-logos/vscode.svg"
  changelog:
    file: ./CHANGELOG.md
  tags: ["VSCode", "Development", "IDE"]
  urls:
    - name: "Code Server Repository"
      type: documentation
      url: "https://github.com/coder/code-server"
    - name: "VS Code Documentation"
      type: documentation
      url: "https://code.visualstudio.com/"
  assets:
    - type: image
      url: "https://storage.googleapis.com/development-421920-assets/app-logos/vscode.svg"
- app_type: shell
  name: shell
  title: Shell
  install_type: workflow
  helm_path: charts/custom-deployment
  git_url: https://github.com/neuro-inc/mlops-custom-deployment-app
  app_package_name: apolo_apps_shell
  requires_token: true
  inputs:
    schema_path: .apolo/src/apolo_apps_shell/schemas/ShellAppInputs.json
    types_name: ShellAppInputs
    processor: ShellAppChartValueProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app

  outputs:
    schema_path: .apolo/src/apolo_apps_shell/schemas/ShellAppOutputs.json
    types_name: ShellAppOutputs
    processor: ShellAppOutputProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app

  short_description: >
    A web-based remote shell instrumented with Apolo CLI, providing immediate
    access to dedicated compute resources.
  description: |
    Shell offers a powerful in-browser command-line interface with direct access to the Apolo platform.
    Preloaded with essential CLI tools, it enables you to manage resources, run scripts,
    and debug applications — all from a web-based terminal.

  pub_date: "2025-05-05T00:00:00+00:00"
  logo: https://storage.googleapis.com/development-421920-assets/app-logos/bash.svg

  tags: ["Apolo", "Shell", "CLI"]

  urls:
    - name: Apolo documentation
      type: documentation
      url: https://docs.apolo.us/index
    - name: Apolo CLI reference
      type: documentation
      url: https://docs.apolo.us/index/apolo-cli

  assets:
    - type: image
      url: https://storage.googleapis.com/development-421920-assets/app-logos/bash.svg

- app_type: openwebui
  name: openwebui
  title: OpenWebUI
  install_type: workflow
  helm_path: charts/custom-deployment
  app_package_name: apolo_apps_openwebui
  inputs:
    schema_path: .apolo/src/apolo_apps_openwebui/schemas/OpenWebUIAppInputs.json
    types_name: OpenWebUIAppInputs
    processor: OpenWebUIInputsProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app
  outputs:
    schema_path: .apolo/src/apolo_apps_openwebui/schemas/OpenWebUIAppOutputs.json
    types_name: OpenWebUIAppOutputs
    processor: OpenWebUIOutputProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app
  short_description: An extensible, self-hosted AI interface that adapts to your workflow.
  description: |
    Open WebUI is an extensible, feature-rich, and user-friendly self-hosted AI platform
    designed to operate entirely offline. It supports various LLM runners like Ollama and
    OpenAI-compatible APIs, with built-in inference engine for RAG, making it a powerful AI
    deployment solution.
  pub_date: "2025-07-07T00:00:00+00:00"
  logo: https://storage.googleapis.com/development-421920-assets/app-logos/openwebui-logo.png
  changelog:
    file: ./CHANGELOG.md
  tags: ["Text", "Chat", "RAG"]
  urls:
    - name: OpenWebUI Repository
      type: documentation
      url: https://github.com/open-webui/open-webui
    - name: OpenWebUI Documentation
      type: documentation
      url: https://docs.openwebui.com/
  assets:
    - type: image
      url: https://storage.googleapis.com/development-421920-assets/app-logos/openwebui-banner.png

- app_type: private-gpt
  name: private-gpt
  title: Private GPT
  install_type: workflow
  helm_path: charts/custom-deployment
  git_url: https://github.com/neuro-inc/mlops-custom-deployment-app
  app_package_name: apolo_apps_privategpt
  inputs:
    schema_path: .apolo/src/apolo_apps_privategpt/schemas/PrivateGPTAppInputs.json
    types_name: PrivateGPTAppInputs
    processor: PrivateGPTInputsProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app
  outputs:
    schema_path: .apolo/src/apolo_apps_privategpt/schemas/PrivateGPTAppOutputs.json
    types_name: PrivateGPTAppOutputs
    processor: PrivateGPTOutputsProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app
  short_description: PrivateGPT provides an API containing all the building blocks required to build private, context-aware AI applications.
  description: |
    PrivateGPT is a production-ready AI project that allows you to ask questions about your documents
    using the power of Large Language Models (LLMs), even in scenarios without an Internet connection.
    100% private, no data leaves your execution environment at any point.
  pub_date: "2025-04-21T00:00:00+00:00"
  logo: https://storage.googleapis.com/development-421920-assets/app-logos/private-gpt.svg
  changelog:
    file: ./CHANGELOG.md
  tags: ["Text", "GPT", "Chat", "RAG"]
  urls:
    - name: PrivateGPT GitHub
      type: documentation
      url: https://github.com/zylon-ai/private-gpt
    - name: PrivateGPT documentation
      type: documentation
      url: https://docs.privategpt.dev/
  assets:
    - type: image
      url: https://storage.googleapis.com/development-421920-assets/app-logos/private-gpt.svg

- app_type: fooocus
  name: fooocus
  title: Fooocus
  install_type: workflow
  helm_path: charts/custom-deployment
  git_url: https://github.com/neuro-inc/mlops-custom-deployment-app
  app_package_name: apolo_apps_fooocus
  inputs:
    schema_path: .apolo/src/apolo_apps_fooocus/schemas/FooocusAppInputs.json
    types_name: FooocusAppInputs
    processor: FooocusInputsProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app
  outputs:
    schema_path: .apolo/src/apolo_apps_fooocus/schemas/FooocusAppOutputs.json
    types_name: FooocusAppOutputs
    processor: FooocusOutputsProcessor
    image: ghcr.io/neuro-inc/mlops-custom-deployment-app
  short_description: Augment, edit, and create your images with Fooocus
  description: |
    Fooocus is a state-of-the-art AI image generation and processing tool built on top of models like Stable Diffusion. Generate high-quality images from text prompts, enhance or transform existing visuals, and explore a wide range of creative image processing capabilities — all through an intuitive interface.
  pub_date: "2025-04-01T00:00:00+00:00"
  logo: https://storage.googleapis.com/development-421920-assets/app-logos/fooocus.svg
  changelog:
    file: ./CHANGELOG.md
  tags: ["Diffusion", "AI", "Image generation"]
  urls:
    - name: GitHub Repository
      type: documentation
      url: https://github.com/lllyasviel/Fooocus
    - name: Example usage on YouTube
      type: documentation
      url: https://www.youtube.com/watch?v=kUImI7C_wsg
  assets:
    - type: image
      url: https://storage.googleapis.com/development-421920-assets/app-logos/fooocus.svg
